
$blue: #166FE5;
$green: #42b72a;



@import "~bootstrap/scss/bootstrap";
body{
    min-height: 100vh;
    background: linear-gradient(
        203deg, 
        rgba(131, 58, 180, 0.9) 0%, 
        rgba(253, 29, 29, 0.9) 50%,
        rgba(252, 176, 69, 0.9) 100%
        );
}